:root {
    --primary-color: #cf8700;
    --secondary-color: #625e66;
    --dark-color: #292929;
    --white-color: #e7e7e7;

}

body {
    color: var(--dark-color);
    font-family: 'IM Fell English', serif;
    
}

.appbody{
    color: #cf8700;
}

.instructions{
    color: #303030;
}

.logoFont {
    font-family: 'Mouse Memoirs', sans-serif;
   
}

.headerFont{
    font-family: 'Mouse Memoirs', sans-serif;
    color: #2c2a2c;
}

.enterheader {
    font-family: 'Mouse Memoirs', sans-serif;
    color: #000000;
}


nav {
    background-color: var(--dark-color);
}

footer {
    background-color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

footer {
    padding-right: 1rem;
}

footer .social>a {
    color: var(--white-color);
    opacity: 0.75;
}

footer .social>a:hover {
    opacity: 0.90;
    color: rgb(195, 0, 255);
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

img {
    max-width: 100%;
    max-height: 100vh;

}

.bsicon {
    color: purple;

}

.jsicon {
    color: rgb(226, 211, 4);
}

.html5icon {
    color: orangered;
}

.cssicon {
    color: rgb(11, 82, 214);
}

.checklist>li i {
    color: #cf8700;
}

code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

#btnSubmit{
background-color: #cf8700;
color: white;
font-family: 'Mouse Memoirs', sans-serif;
font-size: large;
}


.tableFont {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: x-large;
}

.valueFont{
    
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: large;
}

.fizz{
    color: green;
}
.buzz{
    color: red;
}

.fizzbuzz{
    color: #cf8700;
    font-weight: bold;
}